@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lobster&family=Train+One&display=swap');



body{
    background-color: yellow;
    width:100%;
}
.bemVindo{
    text-align: center;
    width:100%;
    font-family: 'Fredoka One', cursive;
    color: rgb(216, 46, 3);
    margin: 0 auto;
    margin-top: 80px;
}
.img-ryu{
    width: 250px;
    height: auto;
    max-width: 100%;
}
.imgWarren{
    width: 250px;
    height: auto;
    max-width: 100%;
}
.imgMenino{
    width: 250px;
    height: auto;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: rgb(216, 46, 3);
    font-family: 'Lobster', cursive;
}
.divRyu{
    background-color: rgb(36, 150, 170);
    text-align: center;
    color: rgb(0, 255, 115);
    width:100%;
}
.divWarren{
    background-color: rgb(36, 150, 170);
    text-align: center;
    color: rgb(0, 255, 115);
    width:100%;
}
.divMenino{
    background-color: rgb(36, 150, 170);
    text-align: center;
    color: rgb(0, 255, 115);
    width:100%;
}
#navbar{
    position: fixed;
    top: 0;
    right: 0;
    background-color:rgb(216, 46, 3);
    width: 100%;
    display: block;
}
.relative{
    position: relative
}
#navbar li{
    display: inline;
    padding: 7px 0px -7px 181px;
    margin: 0px -1010px 0px 1100px;
    text-decoration: none;
    width:100%;
}
#navbar a{
    color:rgb(36, 150, 170) ;
    width:100%;
}
#nav-conts li{
    display: inline;
    padding:auto;
align-items: center;
margin: 100px;
width: 100%;

}
#nav-conts{
    text-align: center;
    
}
ul{
    width: 100%;
}
